client
dev tun
proto {{protocol}}

resolv-retry infinite
nobind

remote {{host}} {{remotePort}}
persist-key
persist-tun

setenv opt block-outside-dns # Prevent Windows 10 DNS leak

remote-cert-tls server
auth SHA512
cipher AES-256-GCM
key-direction 1
verb 3
