port {{port}}
{{^ipv6}}
proto {{protocol}}
{{/ipv6}}
{{#ipv6}}
proto {{protocol}}6
{{/ipv6}}
dev tun
keepalive 10 120

topology subnet
{{#server}}server {{ip}} {{mask}}{{/server}}

{{#dns}}
push "dhcp-option DNS {{.}}"
{{/dns}}

{{#ipv6}}
server-ipv6 fd42:42:42:42::/112
tun-ipv6
push tun-ipv6
push "route-ipv6 2000::/3"
push "redirect-gateway ipv6"
{{/ipv6}}

{{#routes}}
push "route {{ip}} {{mask}}"
{{/routes}}

push "redirect-gateway def1 bypass-dhcp"

{{#compress}}
compress lzo
{{/compress}}

user nobody
group nobody

persist-key
persist-tun

auth SHA512
cipher AES-256-CBC

ca /ssl/openvpn_server/pki/ca.crt
cert /ssl/openvpn_server/pki/issued/server.crt
key /ssl/openvpn_server/pki/private/server.key
crl-verify /ssl/openvpn_server/pki/crl.pem
tls-auth /ssl/openvpn_server/ta.key 0
ifconfig-pool-persist /ssl/openvpn_server/ipp.txt
dh /data/dhparam.pem

status /var/log/openvpn-status.log
verb 3
